# SPDX-FileCopyrightText: 2024 antlers <antlers@illucid.net>
# SPDX-License-Identifier: CC0-1.0

demo.gif export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.guix-authorizations export-ignore
